<form [formGroup]="registrationForm">
  <div class="form-group">
    <label class="form-control-label">Name </label>
    <input formControlName="name" type="text" class="form-control" required />
    <div *ngIf="registrationForm.controls.name.invalid">
      <div
        *ngIf="registrationForm.controls.name.errors.required"
        class="alert alert-danger"
      >
        Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label> Age </label>
    <input type="text" class="form-control" formControlName="age" required />
    <div *ngIf="registrationForm.controls.age.invalid">
      <div
        *ngIf="registrationForm.controls.age.errors.required"
        class="alert alert-danger"
      >
        age is required.
      </div>
      <div
        *ngIf="registrationForm.controls.age.errors.pattern"
        class="alert alert-danger"
      >
        Only Number is accepted.
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="form-group">
    <label> Email </label>
    <input type="text" class="form-control" formControlName="email" required />
    <div *ngIf="registrationForm.controls.email.invalid">
      <div
        *ngIf="registrationForm.controls.email.errors.required"
        class="alert alert-danger"
      >
        Email is required.
      </div>
      <div
        *ngIf="registrationForm.controls.email.errors.pattern"
        class="alert alert-danger"
      >
        Please Enter Valid Email.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label> Mobile Number </label>
    <input
      type="text"
      class="form-control"
      formControlName="mobile"
      required
      minLength
    />
    <div *ngIf="registrationForm.controls.mobile.invalid">
      <div
        *ngIf="registrationForm.controls.mobile.errors.required"
        class="alert alert-danger"
      >
        mobile number is required.
      </div>
      <div
        *ngIf="registrationForm.controls.mobile.errors.pattern"
        class="alert alert-danger"
      >
        Enter Valid Mobile Number.
      </div>
      <div
        *ngIf="registrationForm.controls.mobile.errors.minLength"
        class="alert alert-danger"
      >
        minimum 10 digit mobile Number required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label> Occupation </label>
    <select formControlName="occupation" class="form-control" required>
      <option
        *ngFor="let occupations of occupationValue"
        [ngValue]="occupations.value"
      >
        {{ occupations.name }}
      </option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="addAddress()">
    Add More Address
  </button>
  <div
    formArrayName="address"
    *ngFor="
      let item of registrationForm.get('address')['controls'];
      let i = index
    "
  >
    <div [formGroupName]="i" class="form-group">
      <label> Address line 1 </label>
      <input
        type="text"
        class="form-control"
        formControlName="address1"
        required
      />
      <div *ngIf="item.invalid">
        <div
          *ngIf="item.get('address1').hasError('required')"
          class="alert alert-danger"
        >
          Address line 1 is required.
        </div>
      </div>
      <label> Address line 2 </label>
      <input
        type="text"
        class="form-control"
        formControlName="address2"
        required
      />
      <div *ngIf="item.invalid">
        <div
          *ngIf="item.get('address2').hasError('required')"
          class="alert alert-danger"
        >
          Address line 2 is required.
        </div>
      </div>
      <label> City </label>
      <input type="text" class="form-control" formControlName="city" required />
      <div *ngIf="item.invalid">
        <div
          *ngIf="item.get('city').hasError('required')"
          class="alert alert-danger"
        >
          City is required.
        </div>
      </div>
      <label> State </label>
      <input
        type="text"
        class="form-control"
        formControlName="state"
        required
      />
      <div *ngIf="item.invalid">
        <div
          *ngIf="item.get('state').hasError('required')"
          class="alert alert-danger"
        >
          State is required.
        </div>
      </div>
      <label> Pincode </label>
      <input
        type="text"
        class="form-control"
        formControlName="pincode"
        required
      />
      <div *ngIf="item.invalid">
        <div
          *ngIf="item.get('pincode').hasError('required')"
          class="alert alert-danger"
        >
          Pincode is required.
        </div>
        <div
          *ngIf="item.get('pincode').hasError('pattern')"
          class="alert alert-danger"
        >
          Please enter valid pincode.
        </div>
      </div>
    </div>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      formControlName="agree"
      required
    />
    <label class="form-check-label"> Agree the terms and condiitions </label>
  </div>
  <br />
  <re-captcha
    formControlName="recaptcha"
    (resolved)="resolved($event)"
    siteKey="6Lf6ankaAAAAAPIyMXjumhxliiQhu8ncaoBmgu9m"
  ></re-captcha
  ><br /><br />

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registrationForm.invalid"
    (click)="onSubmit()"
  >
    Submit
  </button>
</form>
